body .on-logged-in {
  display: none;
}
body form#toot {
  display: none;
}
body aside#sidebar {
  display: none;
}
body .login.advanced #showAdvancedLogin {
  display: none;
}
body .login.advanced .advanced {
  display: block;
}
body.logged-in .on-logged-out {
  display: none;
}
body.logged-in .on-logged-in {
  display: inherit;
}
body.logged-in form#toot {
  display: inherit;
}
body.logged-in aside#sidebar {
  display: inherit;
}
body > nav .navbar-header .navbar-brand {
  padding-left: 54px;
  background: url("img/tootr2-white-32.png") transparent no-repeat 14px 6px;
}
.session .avatar a {
  margin: 0;
  padding: 6px;
}
.session .avatar a img {
  height: 32px;
}
.nav-tabs a {
  outline: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
form#toot {
  display: none;
  margin-top: 1em;
  position: relative;
}
form#toot textarea {
  font-family: sans-serif;
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 5.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form#toot button {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 0.25em;
}
ul.session li {
  text-align: right;
}
.login-choices .panel-heading {
  text-align: center;
}
.login-choices .panel-body {
  text-align: center;
}
section#about {
  position: relative;
}
section#about button {
  position: absolute;
  top: 3px;
  right: 3px;
  display: none;
}
section#about button#profileEdit {
  display: block;
}
section#about.editing button#profileEdit {
  display: none;
}
section#about.editing button#profileEditDone {
  display: block;
}
section#about.editing .h-card dd {
  display: none;
}
section#about.editing .h-card dd.readonly {
  display: block;
}
section#about.editing .h-card dd.readonly:after {
  content: ' (read-only)';
  opacity: 0.7;
}
section#about.editing .h-card input {
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  padding: 0px;
  border: none;
  margin: 0 0 0.5em;
}
section#about.editing .h-card textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 5.5em;
  line-height: inherit;
  font-size: inherit;
  padding: 0px;
  border: none;
  margin: 0 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button.btn-xs {
  padding: 2px 6px;
}
.undo-delete .panel-body {
  text-align: center;
}
.undo-delete .panel-body .h-entry {
  display: none;
}
.h-entry {
  cursor: pointer;
}
.h-entry header button.ui-only {
  margin: 0 2px;
}
.h-entry button.entry-edit-done {
  display: none;
}
.h-entry.editing button.entry-edit-done {
  display: inline;
}
.h-entry.editing button.entry-edit {
  display: none;
}
.h-entry.editing button.entry-delete {
  display: none;
}
.h-entry.editing .e-content {
  display: none;
}
@media screen and (max-width: 970px) {
  .session .show-username {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .session .avatar {
    display: none;
  }
}
