body {
  > .container {
    margin-top: 55px;
  }
  .on-logged-in { display: none; }
  form#toot { display: none; }
  aside#sidebar { display: none; }
  .login.advanced {
    #showAdvancedLogin {
      display: none;
    }
    .advanced {
      display: block;
    }
  }
}

body.logged-in {
  .on-logged-out { display: none; }
  .on-logged-in { display: inherit; }
  form#toot { display: inherit; }
  aside#sidebar { display: inherit; }
}

.session {
  .avatar {
    a {
      margin: 0;
      padding: 6px;
      img {
        height: 33px;
      }
    }
  }
}

.navbar-nav.navbar-right:last-child { margin-right: 0; }

form#toot {
  display: none;
  margin-top: 1em;
  position: relative;
  textarea {
    font-family: sans-serif;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    height: 5.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  button {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    padding: 0.25em;
  }
}

ul.session li {
  text-align: right;
}

.login-choices {
  .panel-heading {
    text-align: center;
  }
  .panel-body {
    text-align: center;
  }
}

@media screen and (max-width: 970px) {
  .session .show-username { display: none; }
}
@media screen and (max-width: 750px) {
  .session .avatar { display: none; }
}
