body {
  .on-logged-in { display: none; }
  form#toot { display: none; }
  aside#sidebar { display: none; }
  .login.advanced {
    #showAdvancedLogin {
      display: none;
    }
    .advanced {
      display: block;
    }
  }
}

body.logged-in {
  .on-logged-out { display: none; }
  .on-logged-in { display: inherit; }
  form#toot { display: inherit; }
  aside#sidebar { display: inherit; }
}

body > nav .navbar-header .navbar-brand {
  padding-left: 54px;
  background: url("img/tootr2-white-32.png") transparent no-repeat 14px 6px;
}

.session {
  .avatar {
    a {
      margin: 0;
      padding: 6px;
      img {
        height: 32px;
      }
    }
  }
}

.nav-tabs a { outline: 0; }
.navbar-nav.navbar-right:last-child { margin-right: 0; }

form#toot {
  display: none;
  margin-top: 1em;
  position: relative;
  textarea {
    font-family: sans-serif;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    height: 5.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  button {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    padding: 0.25em;
  }
}

ul.session li {
  text-align: right;
}

.login-choices {
  .panel-heading {
    text-align: center;
  }
  .panel-body {
    text-align: center;
  }
}

section#about {
  position: relative;
  button {
    position: absolute;
    top: 3px; right: 3px;
    display: none;
  }
  button#profileEdit { display: block }
  &.editing {
    button#profileEdit { display: none }
    button#profileEditDone { display: block }
    .h-card {
      dd { display: none }
      dd.readonly { display: block }
      dd.readonly:after {
        content: ' (read-only)';
        opacity: 0.7;
      }
      input {
        width: 100%;
        font-size: inherit;
        line-height: inherit;
        height: inherit;
        padding: 0px;
        border: none;
        margin: 0 0 0.5em;
      }
      textarea {
        display: block;
        border: 1px solid #ccc;
        width: 100%;
        height: 5.5em;
        line-height: inherit;
        font-size: inherit;
        padding: 0px;
        border: none;
        margin: 0 0 0.5em;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
    }
  }
}

button.btn-xs {
  padding: 2px 6px;
}

.undo-delete .panel-body {
  text-align: center;
  .h-entry {
    display: none;
  }
}

.h-entry {
  header {
    button.ui-only {
      margin: 0 2px;
      // opacity: 0;
    }
  }
  button.entry-edit-done { display: none; }
}

.h-entry:hover {
  header {
    button.ui-only {
      // opacity: 1;
    }
  }
}

.h-entry.editing {
  button.entry-edit-done { display: inline; }
  button.entry-edit { display: none; }
  button.entry-delete { display: none; }
  .e-content { display: none; }
}

@media screen and (max-width: 970px) {
  .session .show-username { display: none; }
}
@media screen and (max-width: 750px) {
  .session .avatar { display: none; }
}
