body {
  background: #ddd;
  margin: 0; padding: 0;
  font-family: sans-serif;
  #wrapper > header {
    margin: 0 1em;
    .login {
      display: none;
      margin: 1em auto;
      text-align: center;
      .advanced {
        display: none
      }
      > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        > li {
          padding: 0.75em;
          > form {
            label {
              width: 8ex;
              text-align: right;
            }
          }
        }
      }
    }
    .login.advanced {
      #showAdvancedLogin {
        display: none;
      }
      .advanced {
        display: block;
      }
    }
    .session {
      font-size: 0.85em;
      display: none;
      position: absolute;
      top: 1em;
      right: 0em;
      img.avatar {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }
  }
}

form#toot {
  display: none;
  position: relative;
  padding: 1em 1em;
  textarea {
    font-family: sans-serif;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    height: 4.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  button {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    padding: 0.25em;
  }
}

body.logged-out > section#wrapper {
  >header {
    .login { display: block; }
    .session { display: none; }
    h1 { text-align: center; }
  }
  form#toot { display: none; }
  aside#sidebar { display: none; }
}

body.logged-in > section#wrapper {
  >header {
    .login { display: none; }
    .session { display: block; }
  }
  form#toot { display: block; }
  aside#sidebar { display: block; }
}
