body {
  > .container {
    margin-top: 55px;
  }
}

section.templates { display: none; }

template { display: none }

#sidebar #about {
  font-size: 0.8em;
  background: #efefef;
  border: 1px solid #ccc;
  margin: 1em 0 1em 0;
  padding: 1em;
  h2 {
    margin: 0;
  }
  dl.h-card {
    margin: 0;
    dt {
      margin: 0 0 0.25em 0;
      font-weight: bold;
    }
    dd {
      margin: 0 0 0.5em 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dd.p-note {
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
    }
  }
}

.h-entry {
  position: relative;
  margin: 0.5em 0;
  padding: 1em 0.5em 0.25em 64px;
  min-height: 48px;
  background: #fff;
  a.u-url {
    text-decoration: none;
  }
  img.u-photo {
    position: absolute;
    border-radius: 6px;
    top: 1em;
    left: 0.25em;
    width: 48px;
    height: 48px;
  }
  header {
    font-size: 0.85em;
    margin: 0 0 0.25em 0;
    padding: 0;
    .dt-published {
      &:before { content: " ∙ "; }
      //&:after { content: " ∙ "; }
    }
    .h-card {
      a.u-url:before {
        content: "";
      }
      .p-name { font-weight: bold; }
      .p-nickname { color: #999; }
    }
  }
  p.e-content {
    margin: 0.5em 0 0.5em 0;
  }
}
